header {
    min-height: 100vh;
    max-width: 100%;
    height: auto;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appDescription {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: $secondary;
}

.foodItemChoices {
    text-align: center;


    .buttonList {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    button {
        padding: 5px;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}

