button {
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: white;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    box-shadow: 11px -3px black;

}

button:hover {
    background: purple;
    color: white;
}


header {
    min-height: 100vh;
    max-width: 100%;
    height: auto;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;

    h1{
        font-family: $headerFont;
        font-size: 4rem;
    }
    h2{
        font-family: $secondFont;
    }
}

.appDescription {
    /* border:1px solid black; */
    color: $secondary;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:80%;

    p{
        text-align: center;
    }
}



    .buttonList {
        width: 100%;
       /*  border: 1px solid green */;
        width:80%;
        display: flex;
        justify-content: space-around;
       
    }


