button {
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: white;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    margin:10px 20px;

}

button:hover {
    background: purple;
    color: white;
}

header {
    min-height: 30vh;
    max-width: 100%;
    height: auto;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    text-align: center;

    h1{
        font-family: $headerFont;
        font-size: 4rem;
    }
    h2{
        font-family: $secondFont;
    }
}

.appDescription {
    color: $secondary;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:80%;

    p{
        text-align: center;
    }
}


.buttonList{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;

    .row{
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .column{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        


        button{
            width:60%;
            margin:20px;
            height:200px;
            background:url(../assets/download.jpeg);
            background-position: center;
            background-attachment: contain;
            background-repeat: no-repeat;
            border:none;

        }
    }
}