

.navButtons {
    text-align: center;
    padding: 50px;
}


.recipesContainer {
    margin: 0 auto;
}

.recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:0 auto;
    .recipeBox{
        
        border:4px solid white;
        border-radius:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:$primary;
    }

        figure{
            border:3px solid black;
            border-radius:20px;
            padding:10px;
            background:whitesmoke;
            box-shadow:10px 10px black;
            width:175px;
            cursor: pointer;
        }

        figcaption{
            text-align:center;
            font-size:0.8rem;
            padding:10px;
            height:80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius:20px;
            font-family: $secondFont;
            font-weight: bold;
            color:$primary;
        }

    .recipeBox {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        justify-content: center;
        padding: 20px 20px;

        a {
            font-weight: bold;
        }
    }
}

.recipeBox img{
    width: 100%;
    border-radius: 20px;
}


// SELECTED RECIPE section//
section.red{
    background:$primary;

}



.showRecipe {
        text-align: center;
        background: beige;
        display: flex;
        flex-direction: column;
        border:3px solid black;
        border-radius: 20px;
        padding:10px;
        box-shadow:10px 10px black;
        font-family: $secondFont;
        margin-top:5%;


        .recipeImg {
            width: 50%;
            border-radius: 20px;
            margin: 0 auto;

            img{
                border-radius:20px;
            }
        }
    }

.recipeDetails {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 700;
    font-family: $headerFont;
    font-size: 1rem;
    text-align: center;
    background-color: #f5f5f5;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    background-image: url(../assets/texturedPaper.png);
    padding: 0;

    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        font-size: 1.2rem;
        padding-right: 15px;


    }

    li:nth-child(2n-1)::before {
        font-size: 0.7rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f5a7";
        position: relative;
        bottom: 4px;
        padding: 0 20px 0 10px;
        color: #7CFC00;
    }
}


//PAIRED WINES section//