$primary: #802512;
$secondary: #f0efed;
$tertiary: #f8e71c;
$quaternary: #0e902d;
$quinary: #074115;
$senary: #ffffff;
$headerFont: 'Satisfy', cursive;
$secondFont:'Lato', sans-serif;
$thirdFont: 'Niconne', cursive;





//// MEDIA QUERY VARIABLES ///

