$primary: #802512;
$secondary: #f0efed;
$tertiary: #f8e71c;
$quaternary: #0e902d;
$quinary: #074115;
$senary: #ffffff;
$headerFont: 'Josefin Sans',
'Open Sans',
sans-serif;
$bodyFont: 'Roboto',
sans-serif;



//// MEDIA QUERY VARIABLES ///

