article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  position: absolute;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

html {
  font-size: 125%; }

body {
  margin: 0; }

p {
  line-height: 1.6; }

img {
  max-width: 100%; }

section {
  margin: 5% 0; }

.innerWrapper {
  width: 80%;
  max-width: 1600px;
  padding: 1px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bold {
  font-weight: bold; }

button {
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: white;
  font-weight: bold;
  color: black;
  border: 3px solid black;
  -webkit-box-shadow: 11px -3px black;
  box-shadow: 11px -3px black; }

button:hover {
  background: purple;
  color: white; }

header {
  min-height: 100vh;
  max-width: 100%;
  height: auto;
  background-color: #802512;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center; }
  header h1 {
    font-family: "Satisfy", cursive;
    font-size: 4rem; }
  header h2 {
    font-family: "Lato", sans-serif; }

.appDescription {
  /* border:1px solid black; */
  color: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%; }
  .appDescription p {
    text-align: center; }

.buttonList {
  width: 100%;
  /*  border: 1px solid green */
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.navButtons {
  text-align: center;
  padding: 50px; }

.recipesContainer {
  margin: 0 auto; }

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 auto; }
  .recipes .recipeBox {
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .recipes figure {
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background: whitesmoke;
    -webkit-box-shadow: 10px 10px black;
    box-shadow: 10px 10px black;
    width: 175px;
    cursor: pointer; }
  .recipes figcaption {
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #802512; }
  .recipes .recipeBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 20px; }
    .recipes .recipeBox a {
      font-weight: bold; }

.recipeBox img {
  width: 100%;
  border-radius: 20px; }

section.red {
  background: #802512; }

.singleRecipeContainer {
  background: beige;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
  font-family: "Lato", sans-serif;
  margin-top: 5%; }

.showRecipe {
  text-align: center; }
  .showRecipe .recipeImg {
    width: 50%;
    border-radius: 20px;
    margin: 0 auto; }
    .showRecipe .recipeImg img {
      border-radius: 20px; }

.recipeDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: black;
  font-weight: 700;
  font-family: "Satisfy", cursive;
  font-size: 1rem;
  text-align: center;
  background-color: #f5f5f5;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
  background-image: url(../assets/texturedPaper.png);
  padding: 0; }
  .recipeDetails h3 {
    font-size: 2rem;
    margin-bottom: 0; }
  .recipeDetails ul {
    padding: 0; }
  .recipeDetails li {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    padding-right: 15px; }
  .recipeDetails li:nth-child(2n-1)::before {
    font-size: 0.7rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f5a7";
    position: relative;
    bottom: 4px;
    padding: 0 20px 0 10px;
    color: #7CFC00; }

footer {
  background-color: black; }

.copyrightContainer p {
  color: white;
  text-align: center; }
